* {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  background-image: url(../images/bluetile.png);
  background-repeat: repeat;
  padding-top: 147px;
}

#navi-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

#top-header {
  height: 80px;
  background-color: #06397E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

#header-logo {
  display: flex;
  align-items: center;
}

#top-paw-print {
  height: 65px;
}

#top-header-text {
  color: white;
  font-size: 50px;
  text-shadow: 0px 2px 5px rgba(5, 0, 0, 0.766);
  margin-left: 10px;
}

#login-button {
  border: none;
  padding: 13px 35px;
  background-color: #FBD12D;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  text-shadow: 0px 1px 2px;
}

#login-button:hover {
  transition: 0.5s;
  opacity: 90%;
}

#middle-header {
  height: 67px;
  background-color: #FBD12D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 25px;
  box-shadow: 0px 3px 15px;
  margin-bottom: 5px;
}

#nav-container {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-items {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: black;
  text-shadow: 0px 1px 2px;
}

.nav-items:hover {
  text-decoration: underline;
}

.vl {
  font-size: 40px;
}

#search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 474px;
}

#search-text {
    font-size: 22px;
    font-weight: 600;
    color: black;
    text-shadow: 0px 1px 2px;
}

#search-icon {
  height: 50px;
}

#search-icon:hover {
  cursor: pointer;
}

#search {
  display: flex;
  height: 2.4em;
  width: 25em;
  border: solid;
  border-width: 1px;
  border-radius: 30px;
  padding-left: 15px;
  box-sizing: border-box;
}

@media (max-width:900px) {
  #search-bar {
    display: none;
  }
}

#bottom-header {
  height: 400px;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 2px 6px;
  margin-bottom: 5px;
}

#yellow-bg {
  background-color: #FBD12D;
  height: 370px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#banner-image {
  height: 370px;
  width: 100%;
  display: flex;
  object-fit: contain;
  
}

#featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 110px;
}

#featured-container {
  width: 100px;
  height: 30px;
  padding: 15px 50px;
  background-color: #FBD12D;
  border-radius: 30px;
  box-shadow: 2px 3px 8px;
  border: solid;
}

#featured-text {
  text-shadow: 0px 1px 2px;
  font-weight: 500;
}

#ad-container {
  height: 90vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  
}

#ad-image {
  width: 100%;
  height: 100%;
  max-width: 950px;
}

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-bottom: 150px;
}

#contact-container {
  height: 30px;
  width: 190px;
  padding: 15px 50px;
  background-color: #FBD12D;
  border-radius: 30px;
  box-shadow: 2px 3px 8px;
  border: solid;
}

#contact-text {
  text-shadow: 0px 1px 2px;
  font-weight: 500;
}

#info-container {
  background-color:#D9D9D9;
  height: 60vh;
  width: 98.9vw;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

#info-main {
  padding: 0 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#map-image {
  height: 50vh;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 2px 4px;
}

#info-text-container {
  background-color: #06397E;
  height: 50vh;
  width: 126vh;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 2px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  margin-top: 43px;
}

.title {
  text-decoration: underline;
  font-weight: 600;
}

.info {
  font-weight: 450;
  font-size: 1.7em;
  color: white;
}

#address-row {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    margin-top: 18px;
}



#footer-container {
  background-color: #FBD748;
  margin-bottom: 45px;
  height: 16vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#footer-logo {
  display: flex;
  margin-left: 25px;
}

#petcare-container {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

#petcare-logo {
  height: 75px;
  width: 75px;
  margin-bottom: 0;
}

#copyright {
  margin-right: 10px;
}
